@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #eee;
}
/* navbar */
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 15px 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}
header img {
  width: 100px;
  height: auto;
}

.navbar-style {
  display: flex;
  justify-content: space-around;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav ul li {
  display: inline;
  float: right;
}

header nav ul li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  color: #220901;
}

header nav ul li a:hover {
  color: #BC3908;
}



main {
  padding: 100px 0;
}



#objContainer {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* Table Style */
table {
  table-layout: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  color: #941B0C;

}

td,th {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 10px 6px;
}

td:last-child {
  border-right: 1px solid #ddd;
 
}

th {
  font-weight: bold;
  color: #220901;
  
}
tr:nth-child(2){
  border-top: 1px solid #ddd;;
}

tr:nth-child(odd) {
  background-color: #ddd;
  color: #621708;
 
}
td:first-child {
  background-color: #ddd;
  color: #220901;
  font-family: 'Times New Roman', Times, serif, serif
}

tr:first-child th {
  border: 0;
  background-color: #eee;
  font-family: 'Times New Roman', Times, serif, serif
  /* background-color: green; */
}

tr:last-child {
  background-color: #F6AA1C;
  
}


tr:last-child td:not(:first-child){
  color: #220901;
}